@model FootballStore.Models.Order
<div id="dialog-confirm" title="Are you sure?">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        @(ViewBag.isIncrease == true ? string.Format(Localization.Shopping.message_ConfirmAdd, Model.Product?.Name)
            : string.Format(Localization.Shopping.message_ConfirmDelete, Model.Product?.Name))
    </p>
    @using (Html.BeginForm("ChangeAmountProduct", "Shopping", new { id = Model.Id, isIncrease = ViewBag.isIncrease }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="@Localization.Shopping.btn_Ok" class="btn btn-default" />
            <button id="btnCancel" type="button">@Localization.Shopping.btn_Cancel</button>
        </div>
    }
</div>

<script>
    $("#btnCancel").click(function () {
        $("#dialog-confirm").dialog("close");
    });
    $('button.ui-dialog-titlebar-close').text('X');
</script>

